{
    permissions: @@GLOBAL_PERMISSIONS@@,
    systemConfiguration: @@SYSTEM_CONFIGURATION@@,
        
    defaultTabSet: "main",
    
    tabSets: [{
        id: "main",
        hashPattern: ["tab"],
        breadcrumbs: ["home", "topLevelTab"],
        defaultTab: @@DEFAULT_TAB@@,
        
        tabs: [{
            id: "root",
            label: "",
            view: "",
            isVisible: function() {
                return false;
            }
        }, @@TABS@@]
    },{
        id: "noPermissions",
        hashPattern: ["noPermissions", "tab"],
        breadcrumbs: ["home", "topLevelTab"],
        selectedTopLevelTab: "Home",
        
        getDetailTitle: function() {
            return i18n("Home");
        },
        getDetailFields: function() {
            var detailFields = []
            return detailFields;
        },

        defaultTab: "main",
        tabs: [{
            id: "main",
            label: i18n("Main"),
            view: "deploy/views/noPermissions"
        }]
    }],
    
    breadcrumbItems: [{
        id: "home",
        getHash: function() {
            return "";
        },
        getLabel: function() {
            return i18n("Home");
        }
    },{
        id: "topLevelTab",
        getHash: function() {
            return "main/"+navBar.topLevelTab.id;
        },
        getLabel: function() {
            return navBar.topLevelTab.label;
        }
    },{
        id: "tab",
        getHash: function() {
            return navBar.tabManager.getHashForTab(navBar.tabManager.tabSet.id, navBar.tabManager.tab.id);
        },
        getLabel: function() {
            return navBar.tabManager.tab.label;
        }
    }],
    
    extraFormIncludes: [],

    extraFormDelegates: [],

    getSessionCheckUrl: function() {
        return bootstrap.restUrl+"state";
    },
    
    getGlobalMessageUrls: function() {
        return [bootstrap.restUrl+"state/globalMessages"];
    }
}